<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/facilities.css">
    <title>Facilities</title>
</head>
<body>
    <iframe src="./header.html" width="100%" frameborder="0" scrolling="no" height="75px" width="1000px"></iframe>

    <div class="h1">
        <br><br><br><br><br><br><br>
        <strong><p id="head1" class="head">facili</p><p id="head2" class="head">ties</p></strong>
    </div>

<div id="main">
    <div class="container">
        <div class="content">
            <img class="member" src="../assets/member.jpeg" alt="">
        </div>
        <div class="content">
            
            <h3>membership facilities:</h3>
            <p>Welcome to FitFlix, your premier destination for fitness and well-being. Our membership facilities are designed to provide you with a top-tier fitness experience. As a FitFlix member, you'll enjoy a wide range of amenities and benefits:</p>
            <ol>
                <li>FitFlix boasts state-of-the-art fitness equipment and machines to elevate your workouts.</li>
                <li>We offer roomy workout spaces to ensure you can exercise comfortably and effectively.</li>
                <li>Store your belongings safely in our convenient locker rooms while you work towards your fitness goals.</li>
                <li>Your health and comfort are our priorities. We maintain a clean and hygienic gym environment at all times.</li>
                <li>Our experienced trainers create customized workout plans tailored specifically to your fitness goals.</li>
            </ol>
        </div>
 
    </div>
    
    
    <div class="container">
        
    
        <div class="content">
            <h3>Personal Training at FitFlix:</h3>
            <p>At FitFlix, we believe in the power of personalized fitness guidance. Our certified personal trainers are here to support you on your journey to success. Here's what our personal training program offers:</p>
            <ol>
                <li>Benefit from one-on-one coaching with our experienced trainers who are dedicated to your success.</li>
                <li>Your trainer will design workouts that align with your unique fitness goals, whether it's weight loss, muscle gain, or enhanced endurance.</li>
                <li>Stay motivated and accountable with regular progress checks and goal tracking.</li>
                <li>Learn the correct form and techniques to optimize your workouts while minimizing the risk of injury.</li>
                <li>Get personalized nutritional guidance to fuel your workouts and improve overall health.</li>
            </ol>
        </div>
        <div class="content">
            <img class="member"  src="../assets/ptraining.jpg" alt="">
        </div>
    </div>

    <div class="container">
        <div class="content">
            <img class="member" src="../assets/group.avif" alt="">
        </div>
    
        <div class="content" >
            <h3>Group Classes at FitFlix:</h3>
            <p>Experience the energy and synergy of our group fitness classes at FitFlix. Our classes cater to a variety of interests and fitness levels:</p>
            <ol>
                <li>Choose from a wide range of classes, including yoga, spinning, HIIT, Zumba, and more, all designed to keep your fitness routine fresh and exciting.</li>
                <li>Our skilled instructors lead dynamic and engaging workouts, keeping you inspired and challenged.</li>
                <li>Join a supportive fitness community at FitFlix where you can meet like-minded individuals and forge new friendships.</li>
                <li>FitFlix offers flexible class schedules, making it easy to find a class that fits your busy lifestyle.</li>
                <li> Our classes are welcoming to all fitness levels, whether you're a beginner or an experienced athlete.</li>
            </ol>
        </div>
    
    </div>

    

    
    


</div>
</body>
</html>