<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./membership.css">
    <title>Membership</title>
</head>
<body>
    <iframe src="../components/header.html" width="100%" frameborder="0" scrolling="no" height="75px" width="1000px"></iframe>

    <div class="h1">
        <br><br><br><br><br><br><br>
        <strong><p id="head1" class="head">member</p><p id="head2" class="head">ship</p></strong>
    </div>

    <div class="fac">   
       <div id="" class="card">
           <div class="card2">
               <img class="mcard" src="../assets/member-card.png" alt="">
               <h3>Basic Membership</h3>
               <li>Our Basic Membership is perfect for beginners and those looking for essential fitness access. It includes unlimited access to our state-of-the-art gym equipment and standard group fitness classes.</li>
               <li><strong>Price: $29.99/month</strong></li><br>
               <a href="">
               <input type="button" value="Buy Subscription" class="subbtn"></a>
           </div>
       </div>
       </div>

       <div class="fac">   
        <div id="" class="card">
            <div class="card2">
                <img class="mcard" src="../assets/member-card.png" alt="">
                <h3>Silver Membership</h3>
                <li>The Silver Membership offers a bit more variety and convenience. Enjoy all the benefits of the Basic Membership plus access to premium group classes such as yoga, Pilates, and spin classes.</li>
                <li><strong>Price: $49.99/month</strong></li><br>
                <a href="">
                <input type="button" value="Buy Subscription" class="subbtn"></a>
            </div>
        </div>
        </div>

        <div class="fac">   
            <div id="" class="card">
                <div class="card2">
                    <img class="mcard" src="../assets/member-card.png" alt="">
                    <h3>Gold Membership</h3>
                    <li>Our Gold Membership is designed for fitness enthusiasts who want it all. This comprehensive package includes everything in the Silver Membership, as well as access to our sauna, steam room, and personal training sessions.</li>
                    <li><strong>$69.99/month</strong></li><br>
                    <a href="">
                    <input type="button" value="Buy Subscription" class="subbtn"></a>
                </div>
            </div>
            </div>
</body>
</html>