.h1{
    text-align:center;
    width: 100%;
    height: 60vh;
    padding: 10px 0px;
    background-image: url(../assets/backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.head{
    display: inline-block;
    text-transform: uppercase;
    font-size: 50px;
}

#head1{
    color: rgb(255, 68, 0);
}
#head2{
    color: whitesmoke;
}

body{
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
}

.fac{
    float: left;
    width: 30.3%;
    text-align: center;
    padding:20px;
    align-items: center;
    align-content: center;
    overflow: hidden;
}
.card {
    width: 400px;
    height: 470px;
    background-image: linear-gradient(163deg, #ffbb00 0%, #fd3d02 100%);
    border-radius: 20px;
    transition: all .3s;
    text-align: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
   }
   
.card2 {
    width: 400px;
    height: 470px;
    background-color: orangered;
    border-radius:5px;
    transition: all .2s;
    text-align: center;
    align-items: center;
    align-content: center;
    color: whitesmoke;
    font-size: large;
    text-decoration: none;
}
   
.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
    background-color:whitesmoke;
    color: black;
}
   
.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}
.mcard{
    width: 200px;
}
.subbtn{
    color: gold;
    border: 4px solid #ffbb00;
    border-radius: 20px;
    background-color: black;
    font-size: large;
}
.subbtn:hover{
    background-color: whitesmoke;
    color: black;
}
a{
    text-decoration: none;
}
