<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/schedule.css">
    <title>Schedule</title>
</head>
<body>
    <iframe src="../components/header.html" width="100%" frameborder="0" scrolling="no" height="75px" width="1000px"></iframe>

    <div class="h1">
        <br><br><br><br><br><br><br>
        <strong><p id="head1" class="head">sched</p><p id="head2" class="head">ule</p></strong>
    </div>
    <div id="content">
        <table border="1">
            <tr id="frow" class="row">
                <td>Days</td>
                <td>Timings</td>
            </tr>
            <tr class="row">
                <td>Monday</td>
                <td>07:00 am to 12:00 am</td>
            </tr>
            <tr class="row">
                <td>Tuesday</td>
                <td>07:00 am to 12:00 am</td>
            </tr>
            <tr class="row">
                <td>Wednesday</td>
                <td>07:00 am to 12:00 am</td>
            </tr>
            <tr class="row">
                <td>Thursday</td>
                <td>07:00 am to 12:00 am</td>
            </tr>
            <tr class="row">
                <td>Friday</td>
                <td>07:00 am to 12:00 am</td>
            </tr>
            <tr class="row">
                <td>Saturday</td>
                <td>07:00 am to 12:00 am</td>
            </tr>
            <tr class="row">
                <td>Sunday</td>
                <td><Strong>OFF</Strong></td>
            </tr>
            <tr class="row">
                <td>Peak Hours</td>
                <td>07:00 pm to 11:00 pm</td>
            </tr>
        </table>
    </div>
</body>
</html>