<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutus.css">
    <title>About Fitflix</title>
</head>
<body>
    <iframe src="../components/header.html" width="100%" frameborder="0" scrolling="no" height="75px" width="1000px"></iframe>

    <div class="h1">
        <br><br><br><br><br><br><br>
        <strong><p id="head1" class="head">about&nbsp;</p><p id="head2" class="head">us</p></strong>
    </div>
    <div id="content">
        <div id="welcome">
        <p><strong>Welcome</strong> to Gold's Gym, your ultimate fitness destination where your fitness journey truly shines. At Gold's Gym, we're more than just a gym; we're a community of fitness enthusiasts, professionals, and beginners alike, all driven by a common goal - to lead healthier, happier lives through fitness.</p>
        <h3>Our Legacy:</h3>
        <p>empowering individuals to achieve their fitness goals, one rep at a time, for generations.</p></div>
       
        <div id="join">
        <h3>Join Us Today:</h3>
        <p>At Gold's Gym, we're not just about working out; we're about making fitness a lifestyle. Join our community today and start your journey to a healthier, stronger, and happier you. Let's shine together!</p>
        </div>
    </div>

    <iframe src="./footer.html" width="100%" frameborder="0" scrolling="no" height="100px"></iframe>


</body>
</html>