<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./header.css">
</head>
<body>
    <header>
        <div id="logo">
           <p id="logo1">fit</p><p id="logo2">flix</p>
        </div>
            <ul>
                <li><a href="../index.html" target="_parent">HOME</a></li>
                <li><a href="aboutus.html" target="_parent" >ABOUT US</a></li>
                <li><a href="./facilities.html" target="_parent" >FACILITIES</a></li>
                <li><a href="./membership.html" target="_parent" >MEMBERSHIP</a></li>
                <li><a href="../reviewForm.aspx" target="_parent" >TESTIMONIALS</a></li>
                <li><a href="./schedule.html" target="_parent">SCHEDULE</a></li>
                <li><a href="../Contact.aspx" target="_parent" >CONTACT US</a></li>
                <li><a href="../admin.aspx" target="_parent">ADMIN</a></li>

            </ul>
    </header>
</body>
</html>
